[defaults]
host_key_checking = False
inventory = netbox_inventory.yml
timeout = 60
gathering = smart
fact_caching = memory

[inventory]
enable_plugins = netbox.netbox.nb_inventory
cache = True
cache_plugin = memory
cache_timeout = 3600

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no